 <!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
<!-- jQUERY -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script src="/javascripts/semantic.js"></script>
      <script src="/javascripts/homepage.js"></script>
     <!-- GMAPS -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://raw.githubusercontent.com/HPNeo/gmaps/master/gmaps.js"></script>
    <!-- jQuery Cookie -->
     <script type="text/javascript" src="/javascripts/cookie.js"></script>
</head>

<body>
    
    <div class="ui form segment" style="width:65%;heigth:75%;margin-left: auto;margin-right:auto;">
        <div class="ui top attached button">Personal Information</div>
    <form class="ui form" action="/signup/user/save" method="get">
  
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input name="first_name" placeholder="First Name" type="text">
        </div>
        <div class="field">
          <input name="last_name" placeholder="Last Name" type="text">
        </div>
      </div>
    </div>
     
    <div class="field">
      <label>Contact Number</label>
      <div class="one fields">
        <input name="contact_no" type="text" placeholder="Contact No.">
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Email</label>
       <input name="email" type="email" placeholder="Email">
    </div>
    <div class="field"></div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>User Id</label>
       <input name="user_id" type="text" placeholder="User Id">
    </div>
      <div class="field">
      <label>Password</label>
       <input name="password" type="password" placeholder="Password">
    </div>
      
    <div class="field"></div>
  </div>
        <h4 class="ui top attached header">Would you like to save your current location</h4>
  <div class="ui bottom attached segment">
    
      <label for="alone"></label>
      <div class="field">
              

        <div class="ui  checkbox ">
             <input name="hot-deals" type="checkbox"  id="save_curr_loc">
          
          <label>Yes</label>
        </div>
      </div>
      
    </div>
  <h4 class="ui dividing header">Address</h4>
  <div class="three fields">
    <div class="required field">
      <label>House No.</label>
      <div class="ui icon input">
        <input placeholder="House No." type="text" name="home_house_no" id="home_house_no">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="required field">
      <label>Street</label>
      <div class="ui icon input">
        <input placeholder="Street" type="text" name="home_street" id="home_street">
        <i class="user icon"></i>
      </div>
    </div>
      <div class="required field">
      <label>City</label>
      <div class="ui icon input">
        <input placeholder="City" type="text" name="home_city" id="home_city">
        <i class="user icon"></i>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="required field">
      <label>Country.</label>
      <div class="ui icon input">
        <input placeholder="Country" type="text" name="home_country" id="home_country">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="required field">
      <label>Street</label>
      <div class="ui icon input">
        <input placeholder="pin " type="text" name="home_pin" id="home_pin">
        <i class="user icon"></i>
      </div>
    </div>
      <input type="hidden" name="home_latitude" value="" id="home_latitude"/>
      <input type="hidden" name="home_longitude" value="" id="home_longitude"/>
  </div>
        <h4 class="ui top attached header">Would you like to have the same Billing Address</h4>
  <div class="ui bottom attached segment">
    
      <label for="alone"></label>
      <div class="field">
              

        <div class="ui  checkbox ">
             <input name="hot-deals" type="checkbox"  id="import_details">
          
          <label>Yes</label>
        </div>
      </div>
      
    </div>
  
        
        <h4 class="ui dividing header">Billing Address</h4>
  <div class="three fields">
    <div class="required field">
      <label>House No.</label>
      <div class="ui icon input">
        <input placeholder="House No." type="text" name="bill_house_no" id="bill_house_no">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="required field">
      <label>Street</label>
      <div class="ui icon input">
        <input placeholder="Street" type="text" name="bill_street" id="bill_street">
        <i class="user icon"></i>
      </div>
    </div>
      <div class="required field">
      <label>City</label>
      <div class="ui icon input">
        <input placeholder="City" type="text" name="bill_city" id="bill_city">
        <i class="user icon"></i>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="required field">
      <label>House No.</label>
      <div class="ui icon input">
        <input placeholder="Country" type="text" name="bill_country" id="bill_country">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="required field">
      <label>Street</label>
      <div class="ui icon input">
        <input placeholder="pin" type="text" name="bill_pin" id="bill_pin">
        <i class="user icon"></i>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="field">
    <div class="ui checkbox">
      <input name="hot-deals" type="checkbox">
      <label>I agree to the <a href="#">Terms of Service</a>.</label>
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="ui submit button"><input type="submit">Register</input></div>
</form>
    </div>
</body>
</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href=""><style></style><script src=""></script>
<script>
   $(document).ready(function(){
        $('.ui.radio.checkbox')
            .checkbox()
       ;

        $('.ui.checkbox')
            .checkbox()
        ;
       
       
       
   });
    
    //coping home_address to bill_address on clicking the check box
    $('#import_details').change(function(){
        //getting the latitude and longitude
        
       
        if(this.checked){
            //on clecking fill bill_address
            $('#bill_house_no').val($('#home_house_no').val())   ;
            $('#bill_street').val($('#home_street').val())   ;
            $('#bill_city').val($('#home_city').val())   ;
            $('#bill_country').val($('#home_country').val())   ;
            $('#bill_pin').val($('#home_pin').val())   ;
        }
        else{
            //on unchecking empty the bill_address
             $('#bill_house_no').val("")   ;
             $('#bill_street').val("")   ;
             $('#bill_city').val("")   ;
             $('#bill_country').val("")   ;
             $('#bill_pin').val("")   ;
        }
    
    });
    
    
    //saving curr geolocation retrieved from the browser
    $('#save_curr_loc').change(function(){
        if(this.checked){
            var lat=getCookie('latitude');
            var lng=getCookie('longitude');
            alert(lat)
            $('#home_latitude').val(lat);
            $('#home_longitude').val(lng);
        }
        else{
            $('#home_latitude').val("");
            $('#home_longitude').val("");  
        }
        
    });
    
</script>